.toolbar {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.btn_toolbar {
  display: flex;
  gap: 6px;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  border: 1px solid;
  border-radius: 5px;
  border-color: #aaa;
  background: none;
  padding: 10px;
}

.icon {
  text-align: center;
  justify-content: center;
  font-weight: bold;
  font-size: 15px;
  color: #204ef5;
}
