.settings_box {
  margin-top: 10px;
  border: 1px solid;
  border-radius: 5px;
  border-color: #aaa;
  padding: 20px;
}

.settings_btns {
  display: flex;
  justify-content: left;
  gap: 10px;
  flex-wrap: wrap;
  overflow: hidden;
}

.btn_settings {
  float: left;
  border: 1px solid #aaa;
  border-radius: 5px;
  text-align: left;
  padding: 5px;
  padding-left: 10px;
  width: 170px;
  height: 30px;
  list-style-type: none;
}

.selected {
  border-left: 4px solid #204ef5;
}

.cta_btn {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

.close_btn {
  border: 1px solid #aaa;
  border-radius: 5px;
  color: #204ef5;
  padding: 8px;
  font-size: medium;
}

.apply_btn {
  font-size: medium;
  border: 1px solid #204ef5;
  border-radius: 5px;
  color: white;
  background-color: #204ef5;
  padding: 8px;
}
