.table {
  margin-top: 20px;
  overflow: hidden;
}

table {
  width: 100%;
}

tr {
  text-align: center;
}

td {
  color: #444;
  padding: 4px;
  text-align: center;
  border-top: 1px solid #ddd;
}

.name {
  padding: 10px;
  color: #444;
}

thead th.ascending::after {
  content: '\25bc';
  display: inline-block;
  text-align: center;
  margin-top: 2px;
}

thead th.descending::after {
  content: '\25b2';
  display: inline-block;
  text-align: center;
  margin-top: 2px;
}

.error {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
